<%- include("partials/header.ejs") %>
<%if(locals.publish && locals.publish.length > 0){%>
    <%publish.forEach((post)=>{%>
        <div class="container">
            <h6>ID: <%=post.id%></h6>
            <h1><%=post.title%></h1>
            <p><%=post.content%></p>
             <a href="/edit/<%=post.id%>" class="btn btn-primary">Edit</a>
             <a href="/delet/<%= post.id%>" class="btn btn-danger">Delet</a>
            <hr>
        </div>
        
        <%});%>
    
  <% }%>
<%- include("partials/footer.ejs") %>