<%- include("partials/header.ejs") %>
<%- //include("postCreations.ejs") %>
<%if(locals.title || locals.content){%>
    <h1><%=title%></h1>
    <p><%=content%></p>
  <% }%>
<%- include("partials/footer.ejs") %>