<%- include("partials/header.ejs") %>
<%- //include("postCreations.ejs") %>
<%if(locals.publish && locals.publish.length > 0){%>
    <%publish.forEach((post)=>{%>
        <div class="container">
            <h1><%=post.title%></h1>
            <p><%=post.content%></p>
            <hr>
        </div>
        
        <%});%>
    
  <% }%>
<%- include("partials/footer.ejs") %>